/* CSS Styles for the about page of the portfolio */

/* Universal Styles */

* {
    box-sizing: border-box;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 1);
    height: 100%; 
}
a {
    text-decoration: none;
    color: #FFF;
}

/* Header/Banner Section */

.header .flex-container {
    display: flex;
    overflow: hidden;
    height: 50px;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: solid 3px #FFF;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
nav  {
    overflow: hidden;
    text-align: right;
    flex-grow: 1;
    padding-right: 6vh;
    font-size: 18px;
}
nav a {
    float: right;
    display: block;
    text-align: center;
}
.header h1 {
    padding-left: 7vh;
    text-align: left;
}
nav h3 {
    display: inline-block;
    padding: 10px;
}
nav button {
    display: inline-block;
    border-radius: 2.5px;
    text-align: center;
    background-color: transparent;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
}
button:hover {
    background-color: #8f008f;
    color: #000;
}

/* Background Section */

.background {
    background-image: url('/Images/neon_paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0.9);
    width: auto;
    height: 50vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

/* Title Section */

.title {
    border: 3px solid #FFF;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
}

/* About Me Section */

.about_me #grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    grid-gap: 1em;
}
.about_me .column1, .about_me .column2, .about_me .column3 {
    width: 40%;
    padding: 1.5%;
}
.about_me p, .about_me ul, .about_me h3 {
    text-align: left;
}
.about_me img {
    float: right;
    border-radius: 25px;
}

/* Footer Section */

.footer {
    padding: 2vh 0 2vh;
}

/* Media Query Section */ 

@media only screen and (max-width: 1222px) {
    header h1 {
        display: none;
    }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 {
        font-size: 1.5em;
    }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul {
        padding-left: 15%;
    }
    .header {
        float: none;
    }
    .background {
        height: 35vh;
    }
    .title {
        top: 22%;
    }
}
@media only screen and (max-width: 812px) {
    header h1 {
        display: none;
    }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 {
        font-size: 1.5em;
    }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul {
        padding-left: 15%;
    }
    .header, .about_me img {
        float: none;
    }
    .background {
        height: 35vh;
    }
    .title {
        top: 22%;
    }
}
@media only screen and (max-width: 1222px) and (orientation: landscape) {
    header h1 {
        display: none;
    }
    .header nav {
        text-align: center;
        padding-right: 0;
    }
    nav h3 {
        font-size: 1.5em;
    }
    .about_me h3, .about_me p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_me ul {
        padding-left: 15%;
    }
    .header , .about_me img {
        float: none;
    }
    .background {
        height: 80%;
    }
    .title {
        top: 40%;
    }
}
