/* CSS Styles for the home page. */

/* Universal Styles */

* {
    box-sizing: border-box;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
}

/* Header/Banner Section */

.header .flex-container {
    display: flex;
    overflow: hidden;
    height: 50px;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: solid 3px rgb(255, 255, 255);
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
nav  {
    text-align: right;
    flex-grow: 1;
    padding-right: 6vh;
    font-size: 18px;
}
.header h1 {
    padding-left: 7vh;
    text-align: left;
}
nav span {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #FFF;
}
nav button {
    display: inline-block;
    border-radius: 2.5px;
    text-align: center;
    background-color: transparent;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', 'sans-serif';
}
button:hover {
    background-color: rgb(143, 0, 143);
    color: #000;
}

/* Background Section */

.background {
    background-image: url('/Portfolio/Images/neon_paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0.9);
    width: auto;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

/* Title Section */

.title {
    border: 3px solid #FFF;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    padding: 2vh;
    margin-bottom: 5vh;
    min-width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Footer Section */

.footer {
    padding-bottom: 2vh;
}

/* Media Query Section */ 

@media only screen and (max-width: 1000px) {
    header h1 {
        display: none;
    }
    nav {
        text-align: center;
        font-size: 5vh;
    }
}